<div class="col-lg-12 col-sm-12 col-xs-12">
    <div class="widget">
        <div class="widget-header">
            <span class="widget-caption">
				<span class="input-icon">
	            	<input type="text" id="textFilter" [(ngModel)]="textFilter" (ngModelChange)="filterOffer($event)" class="form-control input-xs" placeholder="Buscar...">
	            	<i class="glyphicon glyphicon-search blue"></i>
	            </span>
            </span>
            <div class="widget-buttons">
                <a id="nearby" class="btn btn-success btn-xs" href="/nearby"><span style="font-size: 10px; font-weight: bold">Cercanas</span> <i class="fa fa-map-marker" aria-hidden="true"></i></a>
            </div>
            <!--Widget Buttons-->
        </div>
        <!--Widget Header-->
        <div class="widget-body col-md-12">
            <div *ngFor="let item of listOffers">
                <div class="comment col-md-6" style="height: 280px;">
                    <a href="/profile/{{item.user_id}}"><img src="{{item.avatar}}" class="comment-avatar"></a>

                    <div class="btn-group" style="padding-left: 20px;">
                        <button class="btn btn-primary btn-xs" (click)="item.share_facebook()" style="border-radius: 3px 0 0 0 !important;"><i class="fa fa-facebook"></i></button>
                        <a class="btn btn-info btn-xs" href="{{item.share_twitter}}" target="_blank"><i class="fa fa-twitter"></i></a>
                        <a class="btn btn-danger btn-xs" style="border-radius: 0 3px 0 0" href="{{item.share_google}}" target="_blank"><i class="fa fa-google-plus"></i></a>
                    </div>
                    <span class="pull-right price">${{item.price}}</span>

                    <div class="comment-body">
                        <div class="comment-text">

                            <div class="comment-header">
                                <div class="row col-md-12">
                                    <a href="/offer/{{item.id}}" title="{{item.title}}">
                                        <h4>{{item.title}}</h4>
                                    </a>
                                </div>
                                {{item.name}} <span> Desde : {{item.start_date}} - Hasta :  {{item.end_date}}</span>
                            </div>

                            <div class="row">
                                <div class="col-md-3">
                                    <img src="{{item.image}}" style="width: 100%; max-width: 100px; box-shadow: 0 0 5px #111;">
                                </div>
                                <div class="col-md-9" style="word-wrap: break-word;">{{item.commentary}}</div>
                            </div>

                            <hr/>
                            <span class="badge badge-primary badge-square"> Tienda : {{item.shop}}</span>
                            <span class="badge badge-success badge-square"> Sucursal : {{item.branch}}</span>
                            <a class="badge badge-info badge-square" href="/category/{{item.category.path}}"><i class="{{item.category.icon}}"></i> {{item.category.name}}</a>
                            <div class="row" style="margin-top: 6px;">
                                <div class="col-md-12">
                                    <a style="text-decoration: none" id="like-{{item.id}}">
                                        <i class="fa fa-thumbs-o-up {{ item.likes ? 'blue' : '' }}"></i><span id="countlike-{{item.id}}">{{item.likes_count}}</span>
                                    </a>&nbsp;&nbsp;
                                    <a style="text-decoration: none" id="dislike-{{item.id}}">
                                        <i class="fa fa-thumbs-o-down {{ item.dislikes ? 'blue' : '' }}"></i><span id="countdislike-{{item.id}}">{{item.dislikes_count}}</span>
                                    </a>
                                    <span class="pull-right more-link"><a href="/offer/{{item.id}}">Seguir leyendo...</a></span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Widget Body-->
    </div>
    <!--Widget-->
</div>