<div class="col-lg-12 col-sm-12 col-xs-12">
	<div class="well invoice-container">
		<div class="row">
				<div class="col-lg-12 col-sm-12 col-xs-12">
					<div class="list-inline options list-group">
						<div class="col-md-4 list-group-item step-mark active" id="step-mark-1">
							<div class="row step">
								<i class="fa fa-pencil-square-o fa-3x"></i>
							</div>
							<div class="row step">
								<h4 class="text-muted">1. Información de la Oferta</h4>
							</div>
						</div>
						<div class="col-md-4 list-group-item step-mark" id="step-mark-2">
							<div class="row step">
								<i class="fa fa-camera fa-3x"></i>
							</div>
							<div class="row step">
								<h4 class="text-muted">2. Fotografias de la oferta</h4>
							</div>
						</div>
						<div class="col-md-4  list-group-item step-mark" id="step-mark-3">
							<div class="row step">
								<i class="fa fa-map-marker fa-3x"></i>
							</div>
							<div class="row step">
								<h4 class="text-muted">1. Create post </h4>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="step-1" class="content-step row">
				<div class="col-xs-12 col-md-12">
					<div class="form-group col-xs-4 col-md-4">
						<span class="input-icon icon-left">
							<i class="fa fa-certificate"></i>
							<input type="text" class="form-control input-sm" placeholder="Titulo de oferta (minimo 8 caracteres)" id="ofertaTitulo"> 
						</span>
					</div>
					<div class="form-group col-xs-4 col-md-4">
						<span class="input-icon icon-left">
							<i class="fa fa-money"></i>
							<input type="text" id="ofertaPrecio" class="form-control input-sm" placeholder="Precio (CLP)">
						</span>
					</div>

					<div class="form-group col-xs-4 col-md-4">
							<select #category id="category" style="width: 100%;">
								<option value="">-- Selecciona una categoría --</option>
								<option *ngFor="let item of listCategories" value="{{item._id}}">{{item.category}}</option>
							</select>
					</div>
				</div>
				<div class="col-xs-12 col-md-12">
					<div class="form-group col-xs-6 col-md-6">
						<span class="input-icon icon-left">
							<i class="fa fa-building"></i>
							<input type="text" id="ofertaTienda" class="form-control input-sm" placeholder="Tienda">
						</span>
					</div>

					<div class="form-group col-xs-6 col-md-6">
						<span class="input-icon icon-left">
							<i class="fa fa-map-pin"></i>
							<input type="text" id="ofertaSucursal" class="form-control input-sm" placeholder="Sucursal o Dirección">
						</span>
					</div>
				</div>
				<div class="col-xs-12 col-md-12">
					<div class="form-group col-xs-6 col-md-6">
					<div class="input-group date">
						<span class="input-group-addon"><i class="fa fa-calendar"></i></span><input type="text"  id="ofertaInicio" class="form-control input-sm" placeholder="Fecha de inicio">
					</div>
					</div>
					<div class="form-group col-xs-6 col-md-6">
					<div class="input-group date">
						<span class="input-group-addon"><i class="fa fa-calendar"></i></span><input type="text"  id="ofertaFin" class="form-control input-sm" placeholder="Fecha de termino (Opcional)">
					</div>
					</div>
				</div>
				<div class="col-xs-12 col-md-12">
					<textarea class="form-control" rows="3" placeholder="Comentarios (Entre 20 y 10.000 Caracteres)" [(ngModel)]="comentarioText" (ngModelChange)="cambioComentario($event)" id="ofertaComentario"></textarea>
					<span class="pull-right databox-text darkgray">{{commentLenght}} caracteres de 10000</span>
				</div>

			</div>
			<div id="step-2" class="content-step hide row">
				<div class="form-group col-xs-12 col-md-12">
					<input id="images" name="images" type="file" multiple class="file-loading" data-show-upload="false">
				</div>
			</div>
			<div id="step-3" class="content-step hide row">
				<div class="form-group col-xs-12 col-md-12">
					<div class="input-group">
						<input type="text" id="ofertaUbicacion" class="form-control" placeholder="Ingresa otra ubicación">
						<div class="input-group-btn">
							<button class="btn btn-default" (click)="searchOffer()" id="btnUbicacion" type="button"><i class="glyphicon glyphicon-search"></i></button>
						</div>
					</div>
				</div>
				<div id="map" #map style="width: 100%; height: 500px;"></div>
			</div>

			<div class="row">
				<div class="btn-group pull-right" style="margin-top: 5px;">
					<button id="previousButton" disabled="disabled" class="btn btn-azure" (click)="changeStep('previous')"><i class="fa fa-arrow-left"></i> Anterior</button>
					<button id="nextButton" class="btn btn-azure" (click)="changeStep('next')"><i class="fa fa-arrow-right"></i> Siguiente</button>
					<button id="upButton" disabled="disabled" (click)="changeStep('next')" class="btn btn-sky">Subir Oferta <i class="fa fa-arrow-up"></i></button>
				</div>
			</div>
	</div>
</div>