#map {
    border-radius: 5px;
    border: 1px solid #CCC;
    height: 500px;
    width: 100%;
}
.step {
    text-align: center;
}
.list-group-item.active {
    background: rgb(0, 131, 132) !important;
}
.text-primary {
    color: #FFFFFF;
}
.content-step {
    background: #FFFFFF !important;
    border: 1px solid #CCC;
    margin-top: 5px;
    padding: 10px;
    border-radius: 3px;
}
.active .text-muted {
    color: #FFFFFF !important;
}
button:disabled {
    background: #CCC !important;
    border: 1px solid #bfbfbf;
    color: #666666 !important;
}
button:disabled:hover{
    background: #CCC !important;
}
#ofertaUbicacion {
    border-radius: 20px 0 0 20px !important;
}
#btnUbicacion {
    border-radius: 0 20px 20px 0 !important;
}