<div class="col-lg-12 col-sm-12 col-xs-12">
	<div class="widget">
		<div class="widget-header">
			<div class="btn-group pull-right" style="margin-right: 10px; margin-top: 10px;">
				<button type="button" value="WALKING" class="btn btn-sm btn-primary travel"><i class="fa fa-male"></i></button>
				<button type="button" value="DRIVING" class="btn btn-sm btn-default travel"><i class="fa fa-car"></i></button>
			</div>
		</div><!--Widget Header-->
		<div class="widget-body">
			<div id="map" #map></div>
		</div><!--Widget Body-->
	</div><!--Widget-->
</div>