<div class="main-container container-fluid">
    <div class="page-container">
        <div id="sidebar" class="page-sidebar sidebar-fixed">
            <ul class="nav sidebar-menu">
                <li *ngFor="let item of listCategories"><a href="/category/{{item.path_categories}}">
                    <i class="menu-icon {{item.classes}}"></i><span class="menu-text">{{item.category}}</span></a>
                </li>
            </ul>
        </div>
        <div class="page-content" style="padding-top: 50px;">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>