h1 {
    font-size: 17px !important;
    font-weight: 700 !important;
    color: #737373!important;
    margin: 0;
}
.well {
    padding: 10px !important;
}
#map {
    height: 450px;
    border-radius: 3px;
    border: 2px solid #CCC !important;
}
.thumb {
  filter: gray;
  -webkit-filter: grayscale(1);
    -webkit-box-shadow: 0px 2px 4px 2px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 2px 4px 2px rgba(0,0,0,0.5);
    box-shadow: 0px 2px 4px 2px rgba(0,0,0,0.5);
    margin-bottom:20px;
}
.thumb:hover {
  filter: none;
  -webkit-filter: grayscale(0);
}
.form-control {
    background: #FFFFFF !important;
}
.form-control:focus {
    box-shadow: 0 0 5px rgb(0, 131, 132) !important;
}
.content {
    margin: 10px 0px 0px  0px !important;
}
.btn-default {
    color: #CCC;
    background: rgb(0, 131, 132) !important;
    border: 1px solid rgb(0, 113, 115) !important;
    box-shadow: 0 0 5px rgb(0, 113, 115) !important;
    transition: 0.5s;
}
.btn-default:hover {
    color: #FFFFFF !important;
    text-shadow: 0 0 10px #FFFFFF;
}
input[readonly] {
    border: 1px solid #CCC !important;
}