 <div id="blueimp-gallery" class="blueimp-gallery">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>
<div class="btn-group" style="padding-left: 20px; margin-top: 10px">
    <button class="btn btn-primary btn-xs" style="border-radius: 3px 0 0 0 !important;"><i class="fa fa-facebook"></i></button>
    <a class="btn btn-info btn-xs"  target="_blank"><i class="fa fa-twitter"></i></a>
    <a class="btn btn-danger btn-xs" style="border-radius: 0 3px 0 0" target="_blank"><i class="fa fa-google-plus"></i></a>
</div>
<div class="col-lg-12 col-sm-12 col-xs-12">
    <div class="well invoice-container" *ngIf="offerData">
        <div class="row">
            <div class="col-xs-12">
                <h1 id="title-offer">{{offerData.title}}</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-7">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="databox">
                                    <div class="databox-left no-padding">
                                        <img src="{{offerData.postedBy.profile_photo}}" style="width:40px; height:40px; border-radius: 5px; box-shadow: 0 0 5px #111;">
                                    </div>
                                    <div class="databox-right">
                                        <div class="databox-text darkgray">{{offerData.postedBy.first_name}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <ul>
                            <li>Precio : {{offerData.price}}</li>
                            <li>Tienda : {{offerData.shop}}</li>
                            <li>Sucursal : {{offerData.branch}}</li>
                            <li>De {{offerData.start_date}} hasta {{offerData.end_date}}</li>
                            <li>Dirección : {{offerData.address}}</li>
                        </ul>
                    </div>
                    <div class="panel-footer">
                        <h4>Comentario del autor</h4>
                        <p>{{offerData.commentary}}</p>
                        <input type="text" id="latitude" value="{{offerData.latitude}}" />
                        <input type="text" id="longitude" value="{{offerData.longitude}}" />
                    </div>
                </div>
            </div>
            <div class="col-xs-5">	
                	
                <div *ngFor="let comment of shortListComments">
                    <div class="comment">
                        <img src="{{comment.postedBy.profile_photo}}" class="comment-avatar">
                        <div class="comment-body">
                            <div class="comment-text">
                                <div class="comment-header">
                                    <a href="#" title="">{{comment.name}}</a><span>{{comment.date}}</span>
                                </div>
                                {{comment.commentary}}
                            </div>
                        </div>
                    </div>
                </div>	
            
                
                <button class="btn btn-primary btn-sm pull-right" (click)="modalComments.show()">Comentar <i class="fa fa-comment"></i></button>
 
            </div>
        </div>

       

         <div class="row">
            <div class="col-md-9 col-sm-9 col-xs-9">
                <div #links id="links">
                    <a *ngFor="let thumb of offerData.thumbnails; let i = index" href="/offerImage/{{offerData.id}}/{{i}}">
                    <div class="col-md-3 col-sm-3 col-xs-3"><img class="thumb" src="{{thumb}}" /></div>
                    </a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div #map id="map"></div>
            </div>
        </div>    
    
    </div>
</div>

<div class="modal fade" bsModal #modalComments="bs-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Comentarios <i class="fa fa-comments"></i></h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="modalComments.hide()">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="well padding-bottom-10" >
                            <span class="input-icon icon-right">
                                <textarea [(ngModel)]="textComment" rows="2" class="form-control" placeholder="Escribir nuevo comentario..."></textarea>
                                <i class="fa fa-camera themeprimary"></i>
                            </span>
                            <div id="imageUpload" class="col-xs-12">
                            </div>
                            <div class="padding-top-10 text-align-right">
                                <button class="btn btn-sm btn-primary" (click)="addComment()">
                                        Agregar Comentario <i class="fa fa-comment"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12" >
                        <div class="comment" *ngFor="let comment of listComments">
                            <img src="{{comment.postedBy.profile_photo}}" class="comment-avatar">
                            <div class="comment-body">
                                <div class="comment-text">
                                    <div class="comment-header">
                                        <a href="#" title="">{{comment.name}}</a><span>{{comment.date}}</span>
                                    </div>
                                    {{comment.commentary}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>