<div class="modal fade" bsModal #modalComments="bs-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Comentarios
                    <i class="fa fa-comments"></i>
                </h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="modalComments.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="well padding-bottom-10">
                            <span class="input-icon icon-right">
                                <textarea [(ngModel)]="textComment" rows="2" class="form-control" placeholder="Escribir nuevo comentario..."></textarea>
                                <i class="fa fa-camera themeprimary"></i>
                            </span>
                            <div id="imageUpload" class="col-xs-12">
                            </div>
                            <div class="padding-top-10 text-align-right">
                                <button class="btn btn-sm btn-primary" (click)="addComment()">
                                    Agregar Comentario
                                    <i class="fa fa-comment"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="comment" *ngFor="let c of comments">
                            <div class="comment">
                                <img src="{{c.avatar}}" class="comment-avatar">
                                <div class="comment-body">
                                    <div class="comment-text">
                                        <div class="comment-header">
                                            <a href="#" title="">{{c.name}}</a>
                                            <span>{{c.date}}</span>
                                        </div>
                                        {{c.commentary}}
                                        <div ng-if="c.image">
                                            <img src="{{c.image}}" />
                                        </div>
                                        <a class="pull-right" href="#">Responder</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>



<div class="modal fade" bsModal #modalComplaint="bs-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Denuncia
                    <i class="fa fa-comments"></i>
                </h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="modalComplaint.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <textarea [(ngModel)]="textComplaint" class="form-control"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" (click)="sendComplaint()" style="width: 100%">Denunciar</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" bsModal #modalMessage="bs-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Mensaje
                    <i class="fa fa-comments"></i>
                </h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="modalMessage.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <textarea [(ngModel)]="textMessage" class="form-control"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" (click)="sendMessage()" style="width: 100%">Denunciar</button>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="profile-container">

            <div class="col-md-12" *ngIf="showAlert">
                <div *ngIf="resultAlert" class="alert alert-success fade in">
                    <button class="close" (click)="hidenAlert()"> × </button>
                    <i class="fa-fw fa fa-check"></i>
                    <strong>Operación exitosa! </strong> {{alert}}
                </div>

                <div *ngIf="!resultAlert" class="alert alert-danger fade in">
                    <button class="close" (click)="hidenAlert()"> × </button>
                    <i class="fa-fw fa fa-times"></i>
                    <strong>Error! </strong> {{alert}}
                </div>
            </div>

            <div class="profile-header row" *ngIf="showProfile">
                <div class="col-md-4 text-center">
                    <img src="{{profileData.profile_photo}}" class="header-avatar" />
                </div>
                <div class="col-md-8 profile-info">
                    <div class="header-fullname">{{profileData.name}}</div>
                    <div class="btn-group pull-right">
                        <button (click)="modalComplaint.show()" class="btn btn-danger btn-sm">Denuncia
                            <i class="fa fa-exclamation-triangle"></i>
                        </button>
                        <button (click)="modalMessage.show()" class="btn btn-primary btn-sm">
                            <i class="fa fa-comment-o"></i>Mensaje</button>
                    </div>
                    <div class="header-information">{{profileData.description}}</div>
                </div>
            </div>
            <div class="profile-body">
                <div class="col-lg-12">
                    <div class="tabbable">
                        <div class="tab-content tabs-flat">
                            <div class="row col-md-12">
                                <button (click)="modalComments.show()" class="pull-right btn btn-primary btn-xs" style="text-decoration: none;">Comentar
                                    <i class="fa fa-comment"></i>
                                </button>
                            </div>
                            <div class="row profile-overview">
                                <div *ngIf="showComments()" class="col-md-12">
                                    <div *ngFor="let cr of comments; let i=index">
                                        <div *ngIf="i < 4" class="comment">
                                            <img src="{{cr.avatar}}" class="comment-avatar">
                                            <div class="comment-body">
                                                <div class="comment-text">
                                                    <div class="comment-header">
                                                        <a href="#" title="">{{cr.name}}</a>
                                                        <span>{{cr.date}}</span>
                                                    </div>
                                                    {{cr.commentary}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>