.price {
    font-weight: bold;
}
#nearby {
    padding-left: 5px;
    padding-right: 3px;
}
.offer-content {
    white-space: pre-wrap; 
}
#load-bars img {
    width: 100px;
}
#load-bars {
    text-align: center;
}