
<div class="row">
  <div class="col-md-12">
      <div class="well">
          <div class="row">
              <div class="col-md-6">
                <img src="https://scontent.xx.fbcdn.net/v/t1.0-1/p200x200/15590557_10211111715371740_127608009543268297_n.jpg?oh=2b3158f72e69b8b92eca3199f443c2c1&oe=59DCD0F8">
                <button class="btn btn-success"><i class="fa fa-upload" aria-hidden="true"></i> Subir imagen</button>
              </div>
          </div>
          <div class="row">
              <div class="form-group col-md-6">
                  <label for="definpu">Nombre</label>
                  <input type="text" class="form-control" id="definput" placeholder="Default Input">
              </div>
              <div class="form-group col-md-6">
                  <label for="definpu">Apellido(s)</label>
                  <input type="text" class="form-control" id="definput" placeholder="Default Input">
              </div>
          </div>
        
          <div class="row">
              <div class="form-group col-md-6">
                  <label for="definpu">Mail</label>
                  <input type="text" class="form-control" id="definput" placeholder="Default Input">
              </div>
              <div class="form-group col-md-6">
                  <label for="definpu">Fecha de ingreso</label>
                  <input type="text" class="form-control" id="definput" placeholder="Default Input">
              </div>
          </div>

         
      </div>
  </div>
</div>


